body {
  background: #FFF;
  font-size: 14px;
}
a {
  color: #000;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
.mui-content {
  background: #FFF;
}
.my-footer,
.my-header {
  background: #e4393c;
}
.my-header .mui-title {
  color: #FFF;
}
.my-header .mui-icon {
  color: #FFF;
}
.my-footer .mui-tab-item {
  color: #FFF;
}
.my-footer .mui-tab-item.mui-active {
  color: darkorange;
}
.my-content {
  width: 100%;
  position: absolute;
  top: 44px;
  bottom: 50px;
  background-color: #f5f5f5;
  display: flex;
  color: #e4393c;
}
.my-content > .cate-list {
  width: 80px;
  float: left;
  position: relative;
  height: 100%;
}
.my-content > .cate-list .mui-scroll > a {
  display: block;
  margin-bottom: 0;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  background-color: #fff;
  color: #e4393c;
}
.my-content > .cate-list .mui-scroll > a.active {
  border-right: 1px solid transparent;
  background-color: #f5f5f5;
}
.my-content > .cont-list {
  flex: 1;
  float: left;
  margin-left: 10px;
  position: relative;
  height: 100%;
}
.my-content > .cont-list ul {
  width: 100%;
  margin-top: 10px;
}
.my-content > .cont-list ul > li {
  width: 33.33%;
  float: left;
  background-color: #fff;
}
.my-content > .cont-list ul > li > a {
  display: block;
  width: 100%;
  text-align: center;
}
.my-content > .cont-list ul > li > a > img {
  width: 100%;
}
