body {
  background: #FFF;
  font-size: 14px;
}
a {
  color: #000;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  vertical-align: top;
}
.mui-content {
  background: #FFF;
}
.my-footer,
.my-header {
  background: #e4393c;
}
.my-header .mui-title {
  color: #FFF;
}
.my-header .mui-icon {
  color: #FFF;
}
.my-footer .mui-tab-item {
  color: #FFF;
}
.my-footer .mui-tab-item.mui-active {
  color: darkorange;
}
.getCode {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: trabslateY(-50%);
  color: #e4393c;
}
.login-now {
  display: block;
  margin-top: 10px;
  padding-right: 10px;
  float: right;
  font-size: 14px;
  color: #e4393c;
}
